# Ignore unnecessary files and directories
.git
.github
.vscode
dump
installer
Gemfile
Makefile
lib
tools
testing
build
obj
*.o
*.exe
*.dll
*.so
*.dylib
.vscode
.idea
*.log
*.md
*.yml
Dockerfile
.dockerignore
modules
*.exs
*.png
*.ico
