# Ignore unnecessary files and directories
.git
.github
.vscode
dump
installer
server
Gemfile
Makefile
CMakeLists.txt
COMPILEGUIDE.md
.elixir_ls
.fleet
lib
tools
testing
build
obj
*.o
*.exe
*.dll
*.so
*.dylib
.vscode
.idea
*.log
*.md
*.yml
Dockerfile
.dockerignore
dockercompose.yml
modules
*.exs
*.png
*.ico
