# dump, where files & directories are temporarily not used unless they have
# use cases in the future
dump/
archive/

# environment files
*.env
*.env.local

# .vscode
.vscode/

# hashed cache files (from LunarDB)
*.cache

*.lock

# fleet
.fleet/

# zip files
**.zip
.zip

# tarballz
.tar
.tar.gz

# target
/target

# .idea
**.idea/
.idea/

# Temporary files, for example, from tests.
/tmp/

# .elixir_ls
.elixir_ls/
